@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.nameHeader {
  border: 2px solid white;
}
.background {
  background-color: rgb(22, 19, 19);
}
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 80px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  margin-top: 400px;
  bottom: 80%;
  font-family: "Futura", "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 2px 0 black;
}
.websites {
  text-align: center;
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.github,
.linkedin,
.email {
  position: absolute;
  height: 60px;
  width: 60px;
  filter: grayscale(100%) invert(100%);
  transition: filter 0.3s ease-in-out;
}
.github:hover,
.linkedin:hover,
.email:hover {
  filter: none;
}

.downArrow {
  width: 60px;
  height: 60px;
  filter: invert(0%);
  -webkit-filter: invert(100%);
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;

  transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.downArrow:hover {
  filter: invert(70%);
  transform: translateY(-5px);
}

.downArrow:focus {
  outline: none;
}
.myProjects {
  text-align: center;
  position: absolute;
  top: 0%;
  bottom: 100%;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: "absolute";
}
.myProjectsName {
  color: black;
  cursor: pointer;
}

.myProjectsHeader {
  flex: 0.2;
  background-color: rgb(22, 19, 19);
  border-bottom: 1px solid #eee;
  justify-content: center;
  display: flex;
}
.myProjectsHeader h1 {
  color: white;
  font-family: "Lumanosimo", cursive;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 7 0vh;
  margin-top: calc(115vh - 97vh - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 10px solid rgb(22, 19, 19);
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(115vh - 97vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.dependency {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 30px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.dependency:hover {
  transform: translateY(-3px);
  border-color: #555;
  cursor: default;
}

.dependency .text {
  font-family: "Futura", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.about-section {
  padding: 100px 0;
  background-color: #f5f5f5;
  text-align: center;
  margin: 100px;
  border-radius: 50px;
  border: 5px solid #fdd10e;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.about-content {
  flex: 1;
  padding-right: 40px;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

.cta-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  font-size: 18px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #0056b3;
}
.CVButton {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.CVButton:hover {
  background-color: #fdd10e;
  transform: scale(1.05);
  color: #000000;
}

.CVButton:focus {
  outline: none;
}

.projectContainer {
  background-color: rgb(22, 19, 19);
  padding: 40px; /* Add padding for spacing */
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
  gap: 20px;
  background-color: rgb(22, 19, 19);
}

.project-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 2px 6px rgb(22, 19, 19);
  justify-content: space-between;
  background-color: #252525; /* Adjust background color */
  border-radius: 8px;
}

.project-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.project-image {
  width: 100%; /* Make sure the image takes the full width */
  max-height: 400px; /* Limit the image height */
  object-fit: cover;
  border-radius: 8px;
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.project-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #fdd10e;
  color: #000000;
}
