@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.nameHeader {
  border: "2px solid white";
}

.header {
  font-size: 80px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  bottom: 80%;
  font-family: "Lumanosimo", cursive;
  border: "2px solid red";
}
.websites {
  text-align: center;
  position: absolute;
  bottom: 75%;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.github,
.linkedin,
.email {
  height: 60px;
  width: 60px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.github:hover,
.linkedin:hover,
.email:hover {
  filter: invert(0%);
}

.downArrow {
  height: 60px;
  width: 60px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 60px;
  position: "absolute";
}
.downArrow:hover {
  cursor: pointer;
  filter: invert(0%);
  -webkit-filter: invert(50%);
}
.myProjects {
  text-align: center;
  position: absolute;
  top: 0%;
  bottom: 100%;
  left: 0;
  right: 0;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;

  position: "absolute";
}

.carousel-item {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-box {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 19, 19);
}

.insideBox {
  display: flex;
  width: 1260px;
  height: 70%;
  background-color: rgb(221, 221, 221);
  flex-direction: row;
  left: 50%;
  top: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}
.box {
  flex-basis: 75;
  border: "black" 1;
  height: 20;
  margin: 10;
  flex-direction: row;
  position: relative;
}
.box div {
  height: 530px;
  width: 300px;
  margin: 60px;
  border: black 1px solid;
  border-radius: 2%;
  background-color: rgb(52, 3, 99);
  border-bottom: 265px solid black;
}
.box text {
  font-size: 50px;
  color: #eee;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.myProjectsHeader {
  flex: 0.2;
  background-color: rgb(22, 19, 19);
  border-bottom: 1px solid #eee;
  justify-content: center;
  display: flex;
}
.myProjectsHeader h1 {
  color: white;
  font-family: "Lumanosimo", cursive;
}
.imageStyling {
  display: flex;
  width: 50%;
}

.imageStyling img {
  height: 75%;
  width: 45%;
  left: 50%;
  top: 45%;
  border-radius: 5%;
  border: 2px solid black;
  transform: translate(20%, 20%);
}

.hex {
  width: 200px;
  color: aqua;
  background-color: azure;
  aspect-ratio: 1;
  clip-path: polygon(
    93.3% 75%,
    50% 100%,
    6.7% 75%,
    6.7% 25%,
    50% 0%,
    93.3% 25%
  );
}
